@using Portfolio.Models
@using Portfolio.Services
@using Microsoft.AspNetCore.Components.Web
@inject JsonDataService ProjectService

<style type="text/css">
	.fields {
		background-image: url("https://data.peterschenkels.nl/img/decoration/fields.png");
		background-repeat: repeat-x;
		position: relative;
		width: 100vw;
		height: 13vh;
		background-size: 50%;
		image-rendering: pixelated;
		margin-left: -37vw;
		z-index: -6;
		margin-bottom: -2vh;
		margin-top: -10vh;
	}

	.release-title {
		font-size: 1.20rem;
		white-space: nowrap;
		text-overflow: ellipsis;
		text-align: center;
		margin-top: 1vh;
		margin-left: 1vh;
		margin-right: 1vh;
	}

	.release-body {
		min-height: auto;
	}

	.release-details{
		font-size: 0.80rem;
		margin: 0;
	}
</style>

<div class="container-sm">
	<div class="row row-cols-md-2">
		@foreach (var art in ProjectService.GetArt())
		{
			<div class="col my-3">
				<div class="card h-100 border-light mb-3 text-bg-dark bg-black border-3 rounded-0 my-3">
					<div>
						<a href="@art.Image">
							<img src="@art.Image" class="card-img-top rounded-0" style="object-fit: cover; image-rendering: pixelated;" alt="...">
						</a>
					</div>
					<div class="card-title">
						<h5 class="release-title">@art.Name</h5>
					</div>
					<div class="card-footer release-body">
						<p class="text-muted release-details">@art.Date></p>
					</div>
				</div>
			</div>
		}
	</div>
	<div>

	</div>
</div>
<div>
	<div class="fields"></div>
</div>


@code
{

}

