@page
@using Portfolio.Components
@model BlogsModel
@{
	ViewData["Title"] = "Blogs";
}
<div class="container-fluid bd-content" style="height:230vh;">
	<h5 class="text-center">Coming soon!!</h5>
	<div class="mx-auto">
		<img class="text-center" style="width: 5vw; height:auto;" src="~/img/decoration/pinio.png" />
	</div>

</div>
