@page
@using Portfolio.Components
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}
<div class="container-fluid bd-content min-height: 300vh">
	<div class="border-bottom border-light border-4 mp-0">
		<div class="container-fluid bd-content">
			<p class="text-center">--ooo0000ooo---</p>
		</div>
		<h5 class="text-center" style="margin-top: 3vh; margin-bottom: 1vh;">Latest Music Release</h5>
		@(await Html.RenderComponentAsync<LatestMusicRelease>(RenderMode.ServerPrerendered))
	</div>
		<div class="border-bottom border-light border-4 ">
			<h5 class="text-center" style="margin-top: 3vh; margin-bottom: 1vh;">Recent Updates</h5>
			@(await Html.RenderComponentAsync<MostRecentProject>(RenderMode.ServerPrerendered))
		</div>
		<div class="mx-auto">
			<img class="text-center" style="width: 5vw; height:auto; margin-top:1vh;" src="~/img/decoration/pinio.png"/>
		</div>
</div>
