@page
@using Portfolio.Components
@model ArtModel
@{
	ViewData["Title"] = "Music";
}

<div class="container-fluid bd-content">
	<h1 class="text-center">@ViewData["Title"]</h1>


	@(await Html.RenderComponentAsync<MusicList>(RenderMode.ServerPrerendered))
	</di
